body{
    background-color: cyan;
    text-align: center;
    margin: auto;
}

header{
    background-color: gold;
    font-size: 50px;
}

h3{
    background-color: yellowgreen;
}

.img1{
    height:250px;
    width:250px;
}

.skill img{
    height: 100px;
    width: 100px;

}

.footer{
    background-color: black;
}

.smedia img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.links a{
    text-decoration: none;
    margin-left: 17%;
    color: black;
    font-size:17px;
}

.links{
    border: solid red 1px;
    background-color: yellowgreen;
    display: flex;
} 

.smedia p{
    color:aliceblue;
}

.smedia a{
    text-decoration: none;
}

